.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3aadd;
}

.registerAccount-form{
  background-color: white;
  width: 450px;
   max-height: 90vh; /* ✅ Giới hạn tối đa theo chiều cao màn hình */
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;
}

.registerAccount-form::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

.register-form img {
  width: 100%;
  height: 120px;
  margin-bottom: 40px;
}

.register-form span {
  color: red;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.inputGroup p {
  font-weight: 600;
}

.email, .password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e3e8ef;
  border-radius: 5px;
  width: 400px;
  height: 35px;
  padding: 0 20px;
  transition: border-color 0.3s ease;
}

.email:hover, .password:hover {
  border-color:  #97a3b6;
}

.email.active {
  border: 1px solid #e3aadd;
}

.email.active .emailIcon {
  color: #e3aadd;
}

.emailInput {
  flex: 10;
  border: none;
  outline: none;
}

.emailIcon, .passwordIcon{
  margin-right: 10px;
  font-size: 20px;
  color: #97a3b6;
}

.password.active {
  border: 1px solid #e3aadd;
}

.password.active .passwordIcon {
  color: #e3aadd;
}

.passwordInput {
  flex: 10;
  border: none;
  outline: none;
}

.registerButtonBig {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #e3aadd;
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
}

.registerButtonBig:hover{
    background-color: #b94db8;
    transition: background-color 0.5 ease;
}

.registerDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.loginButtonSmall {
  border: none;
  background-color: white;
  color: #447cfb;
  font-size: 16px;
  font-weight: bold;
}

.loginButtonSmall:hover {
  text-decoration: underline;
}
